GETTING DATA FROM API's

In [1]:
import pandas as pd
import requests

Accesing API's through URL

In [2]:
alpha_api_key = "PGPVDW57277TSFM3"

URL for Alibaba Limited Company

In [3]:
ticker = "BABA"
output_size = "compact"
data_type = "json"

url = (
    "https://www.alphavantage.co/query?"
    "function=TIME_SERIES_DAILY&"
    f"symbol={ticker}&"
    f"outputsize={output_size}&"
    f"datatype={data_type}&"
    f"apikey={alpha_api_key}"
)
print("url type:", type(url))
url

url type: <class 'str'>

'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=BABA&outputsize=compact&datatype=json&apikey=PGPVDW57277TSFM3'

Accessing API's through a Request

In [4]:
response = requests.get(url=url)
print("response type:", type(response))

response type: <class 'requests.models.Response'>

Response Attributes

In [5]:
dir(response)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

Response Status Code

In [6]:
print(response.status_code)

200

Response JSON

In [7]:
response_data = response.json()
print("response_json type:", type(response_data))

response_json type: <class 'dict'>

Response Data Keys

In [8]:
response_data.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

Get Daily Function

In [9]:
def get_daily(ticker, output_size="full"):
    """Get daily time series of an equity from AlphaVantage.
    parameters
    _ _ _ _ _ _
    ticker: str
        The ticker symbol of the equity.
    output_size: str
        Number of observations to return. "full" means the historic observations of the equtiy to be returned, "compact means the most recent observations."
    returns
    _ _ _ _ _ _
    pd.DataFrame:
        Columns are "open, high, low, close, volume"
    """
    
    # Create URL
    url = (
        "https://www.alphavantage.co/query?"
        "function=TIME_SERIES_DAILY&"
        f"symbol={ticker}&"
        f"outputsize={output_size}&"
        f"datatype=json&"
        f"apikey={alpha_api_key}"
    )
    
    # Send request to api
    response = requests.get(url=url)
    
    # Check if the request  is successfull
    if response.status_code != 200:
        raise Exception(f"Error fetching data: {response.status_code}")
    
    # Check if the "Time Series key exists" in response_data
    if "Time Series (Daily)" not in response_data.keys():
        raise Exception(
            f"Invalid API call. Check the ticker symbol: {ticker}"
        )
    
    # Extract json data from response
    data = response_data["Time Series (Daily)"]
    
    # Read data into DataFrame
    stock_data = pd.DataFrame.from_dict(data, orient="index", dtype="float")
    
    # Convert "index" to "datetime index" and name "date"
    stock_data.index =  pd.to_datetime(stock_data.index)
    stock_data.index.name = "date"

    # Removing numbering from your column names
    stock_data.columns = [c.split(".")[1] for c in stock_data.columns]
    
    return stock_data

Testing Get Daily Function

In [10]:
get_daily(ticker="BABA")

              open    high     low  close      volume
date
2024-09-25  94.380  96.180  94.060  95.46  18816624.0
2024-09-24  96.070  97.500  94.400  97.19  47423157.0
2024-09-23  89.470  91.150  89.320  90.09  19744055.0
2024-09-20  89.220  89.520  88.050  88.29  12277036.0
2024-09-19  87.625  88.565  86.950  88.49  18618354.0
...            ...     ...     ...    ...         ...
2024-05-09  79.500  79.920  78.710  79.46   9627274.0
2024-05-08  77.920  78.990  77.810  78.46  11327088.0
2024-05-07  79.930  79.930  78.815  79.37  14589103.0
2024-05-06  81.755  82.220  80.500  81.55  11826084.0
2024-05-03  81.270  81.370  79.700  81.33  19355807.0

[100 rows x 5 columns]